<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/blogs.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="blogs-page">
      <div class="blogs-header">
        <div class="blogs-left-header">
          <img src="album/landingImg.jpg" alt="" />
          <h1>FreshMenu</h1>
          <p>Deliver to : <span>Select... <i class="fa-solid fa-caret-down"></i></span></p>
        </div>
        <div class="blogs-right-header">
          <div class="blogs-right-upper">
            <div class="fresh-offer">
              <div class="fresh-pass">
                <h2>Fress Pass</h2>
                <p>get extra 20% off</p>
              </div>
              <h4 class="fresh-club">Try fresh club</h4>
              <h2 class="download-app">Download app</h2>
            </div>
          </div>
          <div class="blogs-right-lower">
            <div class="blogs-header-btns">
              <i class="fa-solid fa-magnifying-glass"></i>
              <p>search</p>
              <p>Offers</p>
            </div>
            <div class="blogs-header-icons">
              <p><i class="fa-solid fa-bullseye"></i></p>
              <p><i class="fa-solid fa-user-gear"></i></p>
              <p><i class="fa-solid fa-cart-shopping"></i></p>
            </div>
          </div>
        </div>
      </div>

      <div class="fresh-menu-blogs">
        <div class="fresh-menu-box">
          <div class="fresh-menu">
            <h1>FreshMenu Blog.</h1>
          </div>
          <div class="blogs-btns">
            <button>Healthy Recipes</button>
            <button>Health & Nutrition</button>
            <button>Guide</button>
            <button>Health Tips</button>
            <button>Diet Plans</button>
          </div>
        </div>
      </div>

      <div class="blogs-footer1">
        <div class="links-box1">
          <h3>COMPANY</h3>
          <a href="">FAQ</a>
          <a href="">About</a>
          <a href="">Careers</a>
          <a href="">Blog</a>
          <div class="terms-privacy">
            <a href="">Terms</a>
            <a href="">Privacy</a>
          </div>
        </div>
        <div class="links-box1">
          <h3>HELP & CONTACT</h3>
          <a href="#"><i class="fa-solid fa-circle-radiation" style="color: #333333;"></i> Help Center</a>
          <a href="#"><i class="fa-regular fa-envelope"  style="color: #333333;"></i> Email Us</a>
          <a href="#"><i class="fa-solid fa-phone"  style="color: #333333;"></i> 080-4042-4242</a>
        </div>
        <div class="links-box1">
          <h3>MORE FROM US</h3>
          <a href="">Bulky/Party Order</a>
          <a href="">Cake Order</a>
          <a href="">Fresh Club</a>
          <a href="">Offers</a>
        </div>
        <div class="links-box1">
          <div class="link-img">
            <img id="googleplay" src="https://cdn.shopify.com/s/files/1/0684/1037/6368/files/playstore.jpg?v=1745768538" alt="googleplay" />
            <img id="appstore" src="https://developer.apple.com/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg" alt="appstore" />
          </div>
          <div class="social-media-icons">
            <p><i class="fa-brands fa-square-facebook"></i></p>
            <p><i class="fa-brands fa-twitter"></i></p>
            <p><i class="fa-brands fa-instagram"></i></p>
          </div>
        </div>
      </div>

      <div class="blogs-footer2">
        <div class="links-box2">
          <h3>CATEGORIES</h3>
          <a href="">Mains</a>
          <a href="">Pizzas</a>
          <a href="">Salads</a>
          <a href="">Desserts</a>
          <a href="">Quickbites</a>
        </div>
        <div class="links-box2">
          <h3>CUISINES</h3>
          <div style="margin-top: 10%">
            <a href="" style="margin-right: 10%">Indian</a>
            <a href="">Chinese</a>
          </div>
          <div style="margin-top: 10%">
            <a href="" style="margin-right: 10%">Italian</a>
            <a href="">American</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
